<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} " />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Update Tugas</title>
</head>

<body>
<div class="container">
    <div class="col-md-6 mt-5">
        <h1>Update Tugas Kuliah</h1>
        <form action="#" th:action="@{/tugas/{id}(id=${edt_tugas.id})}" th:object="${edt_tugas}" method="POST">
            <div class="form-group">
                <label for="tugas">Tugas</label>
                <input class="form-control" type="text" th:field="*{tugas}" id="tugas"
                       placeholder="Add a description">
                <span th:if="${#fields.hasErrors('tugas')}" th:errors="*{tugas}"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:checked="${status} == true" th:field="*{status}" id="status" />
                    Selesai
                </label>
            </div>

            <button class="btn btn-success" type="submit">Update</button>

        </form>
    </div>
</div>
</body>

</html>